<script type='text/javascript'>
  var abstract_size = <%= Abstract::ABSTRACT_SIZE %>;
  function textCounter( field, countfield, maxlimit ) {
   if ( field.value.length > maxlimit ) {
    field.value = field.value.substring( 0, maxlimit );
    field.blur();
    field.focus();
    return false;
   } else {
    countfield.value = maxlimit - field.value.length;
   }
  }
</script>
<%= form_for(@abstract) do |f| %>
  <% if @abstract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@abstract.errors.count, "error") %> prohibited this abstract from being saved:</h2>

      <ul>
      <% @abstract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form">
    <table>
      <tr><td colspan="6"><h3>Primary Author: </h3></td></tr>
      <tr>    
        <div class="field"><td><%= f.label :first_name %></td><td><%= f.text_field :first_name, size: 20 %></td></div>
        <div class="field"><td><%= f.label :last_name %></td><td><%= f.text_field :last_name, size: 20 %></td></div>
      </tr>
      <tr>
        <div class="field"><td><%= f.label :email %></td><td><%= f.text_field :email, size: 20 %></td></div>
      </tr>
      <tr>
        <div class="field"><td><%= f.label :organization, "Organization or affiliation" %></td><td><%= f.text_field :organization, size: 20 %></td></div>
        <div class="field"><td><%= f.label :country %></td><td colspan="5"><%= f.text_field :country, size: 20 %></td></div>
      </tr>
      <tr><td colspan="6"><h3>Other Authors: </h3></td></tr>
      <tr>
        <div class="field">
          <td><%= f.label :other_authors %></td>
          <td colspan="5"><%= f.text_field :other_authors, :size => 69 %></td>
        </div>
      </tr>
      <tr><td colspan="6"><h3>Paper Submitted:</h3></td></tr>
      <tr>
        <div class="field">
          <td><%= f.label :title, 'Title' %></td>
          <td colspan="5"><%= f.text_field :title, :size => 69 %></td>
        </div>
      </tr>
      <tr>
        <div class="field">
          <td><%= f.label :abstract, "Abstract (max #{Abstract::ABSTRACT_SIZE} chars)" %></td>
          <td colspan="5"><%= f.text_area :abstract, :cols => 65, :rows => 16, :onblur => "textCounter(this,this.form.counter,abstract_size);", :onkeyup => "textCounter(this,this.form.counter,abstract_size);" %>
            <!-- Got this snippet from http://www.java-samples.com/showtutorial.php?tutorialid=733 -->
            <br/>Remaining: <input onblur="textCounter(this.form.recipients,this,abstract_size);" disabled  onfocus="this.blur();" tabindex="999" maxlength="3" size="3" value="<%= Abstract::ABSTRACT_SIZE %>" name="counter"></td>
        </div>
      </tr>
      <tr>
        <div class="actions">
          <td colspan="6"><%= f.submit 'Submit' %></td>
        </div>
      </tr>
      <tr><td colspan="6">If you prefer to send your abstract as an email attachment, please email it to <%= link_to 'hartemink@wisc.edu', 'mailto:hartemink@wisc.edu'%></td></tr>
    </table>
  </div>
<% end %>
