<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @abstract.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @abstract.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @abstract.email %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @abstract.organization %>
</p>

<p>
  <strong>Country:</strong>
  <%= @abstract.country %>
</p>

<p>
  <strong>Other authors:</strong>
  <%= @abstract.other_authors %>
</p>

<p>
  <strong>Title:</strong>
  <%= @abstract.title %>
</p>

<p>
  <strong>Abtract:</strong>
  <%= @abstract.abstract %>
</p>

<%= link_to 'Edit', edit_abstract_path(@abstract) %> |
<%= link_to 'Back', abstracts_path %>
