Hi Alfred,

The following was submitted as an abstract to the IUSS conference at <%=h @abstract.created_at %>, last updated <%=h @abstract.updated_at %>:

First Name: <%=h @abstract.first_name %>
Last Name: <%=h @abstract.last_name %>
Email: <%=h @abstract.email %>
Organization: <%=h @abstract.organization %>
Country: <%=h @abstract.country %>
Other Authors: <%=h @abstract.other_authors %>
Title: <%=h @abstract.title %>
Abstract: <%=h @abstract.abstract %>
